# Spooky Things: Changelog

{{#issues}}
 {{#hasIssue}}
  {{#hasLink}}
#### {{name}} [{{issue}}]({{link}}) {{title}}
  {{/hasLink}}
  {{^hasLink}}
#### {{name}} {{issue}} {{title}}
  {{/hasLink}}
 {{/hasIssue}}
 {{^hasIssue}}
### {{name}}
 {{/hasIssue}}

 {{#commits}}
#### **Commit: {{{messageTitle}}}**
{{#messageBodyItems}}
###### * Description: {{.}}
{{/messageBodyItems}}

[Commit](https://github.com/ProxyNeko/spooky-things/commit/{{hash}}) {{authorName}} *{{commitTime}}*
#

 {{/commits}}

{{/issues}}
